datasets==4.1.1
faiss==1.5.3
numpy==2.3.3
pandas==2.3.2
peft==0.17.1
psutil==7.0.0
sentence_transformers==5.1.1
torch==2.10.0.dev20250923+rocm6.4
transformers==4.56.1
trl==0.23.0
torch>=2.0.0
transformers>=4.35.0
tokenizers>=0.14.0
